{% extends 'base.html' %}

{% block content %}

<h1 class="title">Nachweisung</h1>

<ul>
</ul>

<div class="table-container">
  <table class="table is-bordered is-striped ">
    <thead>
        <tr>
          <th>#</th>
          <th>Richtung</th>
          <th>Absender</th>
          <th>Anschrift</th>
          <th>Inhalt</th>
          <th>Verteiler</th>
        </tr>
      </thead>
    <tbody>
      {% for nachricht in object_list %}
          <tr>
            <td>{{ nachricht.id }}</td>
            <td>{{ nachricht.get_richtung_display }}</td>
            <td>{{ nachricht.absender }}</td>
            <td>{{ nachricht.anschrift }}</td>
            <td>{{ nachricht.inhalt }}</td>
            <td>{% for funktion in nachricht.verteiler.all %}{{ funktion }}<br/>{% endfor %}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
