{% extends 'base.html' %}
{% load bulma_tags %}
{% load bleach_tags %}

{% block extra_css %}
<style>
  .content pre {
    padding: 0 0 0 0;
    background-color: unset;
  }
</style>
{% endblock extra_css %}

{% block content %}

<div class="box">

  <h1  class="title">{{ object }}</h1>

  <div class="box">
    <h2 class="subtitle">Nachweisung</h2>

    <div class="columns">
      {% if object.richtung == 'E' or object.richtung == 'R' %}
      <div class="column">
        <div class="field">
          <label class="label">Aufnahmevermerk</label>
          <div>{{ object.aufnahmevermerk }}</div>
        </div>
      </div>
      {% endif %}
      {% if object.richtung == 'A' or object.richtung == 'R' %}
      <div class="column is-narrow">
        <form action="{% url 'annahmevermerk' pk=object.id %}" method="post">{% csrf_token %}
          <div class="field">
            <label class="label">Annahmevermerk</label>
            {% if object.annahmevermerk %}
            <div>{{ object.annahmevermerk }}</div>
            {% else %}
            {% if not object.befoerderungsvermerk %}
            <button type="submit" class="button">Annahme vermerken</button>
            {% endif %}
            {% endif %}
          </div>
        </form>
      </div>
      <div class="column">
        <form action="{% url 'befoerderungsvermerk' pk=object.id %}" method="post">{% csrf_token %}
          <div class="field">
            {% if object.befoerderungsvermerk %}
            <label class="label">Beförderungsvermerk</label>
            <div>{{ object.befoerderungsvermerk }}</div>
            {% else %}
            {{ befoerderungsvermerk.weg | bulma }}
            <button type="submit" class="button">Beförderung vermerken</button>
            {% endif %}
          </div>
        </form>
      </div>
      {% endif %}
      <div class="column is-narrow">
        <div class="field">
          <label class="label">Lfd. Nr.</label>
          <div>{{object.id}}</div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="field">
          <label class="label">Richtung</label>
          <div>{{ object.get_richtung_display }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">

    <div class="column"><div class="box">
      <h2 class="subtitle">Nachricht</h2>
      <div class="is-pulled-right has-text-right">
        <div class="field">
          <label class="label">Erstellungszeit</label>
          <div>{{ object.get_zeit_display }}</div>
        </div>
        <div class="field">
          <label class="label">Vorrangstufe</label>
          <div>{{ object.get_vorrangstufe_display }}</div>
        </div>
      </div>
      <div class="field">
        <label class="label">Absender</label>
        <div>{{ object.absender | escape }}</div>
      </div>
      <div class="field">
        <label class="label">Anschrift</label>
        <div>{{ object.anschrift | escape }}</div>
      </div>
      {% if object.mail %}
      <div class="field">
        <label class="label">Betreff</label>
        <div>{{ object.mail.subject | escape }}</div>
      </div>
      <div class="field">
        <div class="is-pulled-right"><a href="{{ object.mail.eml.url }}">E-Mail Original</a></div>
        <label class="label">Inhalt</label>
        {% if object.mail.html %}
        <div class="content box">{{ object.mail.html | bleach }}</div>
        {% else %}
        <div>{{ object.mail.text | escape | linebreaks }}</div>
        {% endif %}
      </div>
      {% if object.mail.attachments.count > 0 %}
      <div class="field">
        <label class="label">Anhänge</label>
        {% for attachment in object.mail.attachments.all %}
        <div><a href="{{ attachment.document.url }}">{{ attachment.get_filename }}</a> <a href="{{ attachment.document.url }}" download="{{ attachment.get_filename }}">(download)</a></div>
        {% endfor %}
      </div>
      {% endif %}
      {% else %}
      {% if object.betreff %}
      <div class="field">
        <label class="label">Betreff / Spruchkopf</label>
        <div>{{ object.betreff | escape }}</div>
      </div>
      {% endif %}
      <div class="field">
        <label class="label">Inhalt</label>
        <div>{{ object.inhalt | escape | linebreaks }}</div>
      </div>
      {% endif %}
    </div></div>

    <div class="column is-narrow"><div class="box">
      <h2 class="subtitle">Sichtung</h2>
      <form action="{% url 'sichtungsvermerk' pk=object.id %}" method="post">{% csrf_token %}
        <div class="field">
          <label class="label">Sichtungsvermerk</label>
          {% if object.sichtungsvermerk %}
          <div>{{ object.sichtungsvermerk }}</div>
          {% else %}
          <button type="submit" class="button">Sichtung vermerken</button>
          {% endif %}
        </div>
      </form>
      <div class="field">
        <label class="label">Verteiler</label>
        {% for funktion in verteiler %}
        <div>{{ funktion }}</div>
        {% endfor %}
      </div>
      <div class="field">
        <label class="label">Verteilungsvermerke</label>
        {% for verteilungsvermerk in object.verteilungsvermerke.all %}
        <div>{{ verteilungsvermerk }}</div>
        {% endfor %}
      </div>
      <form action="{% url 'verteilungsvermerk' pk=object.id %}" method="post">{% csrf_token %}
        <div class="field">
          {{ verteilungsvermerk | bulma }}
          <button type="submit" class="button">Verteilung vermerken</button>
        </div>
      </form>
    </div></div>

  </div>
</div>

{% endblock content %}
