{% extends 'base.html' %}

{% block content %}

<h1 class="title">{{ title }}</h1>

<ul>
</ul>

<div class="table-container">
  <table class="table is-bordered is-striped ">
    <thead>
        <tr>
          <th>#</th>
          <th>Erstellungszeit</th>
          <th>Transportzeit</th>
          <th>Richtung</th>
          <th>Vorrangstufe</th>
          <th>Absender</th>
          <th>Anschrift</th>
          <th>Betreff</th>
          <th>Verteiler</th>
        </tr>
      </thead>
    <tbody>
      {% for nachricht in object_list %}
          <tr>
            <td><a href="{{ nachricht.get_absolute_url }}">{{ nachricht.id }}</a></td>
            <td>{{ nachricht.get_zeit_display }}</td>
            <td>{{ nachricht.get_transport_zeit_display }}</td>
            <td>{{ nachricht.get_richtung_display }}</td>
            <td>{{ nachricht.get_vorrangstufe_display }}</td>
            <td>{{ nachricht.absender | escape }}</td>
            <td>{{ nachricht.anschrift | escape }}</td>
            <td>{{ nachricht.betreff | escape }}</td>
            <td>{% for funktion in nachricht.verteiler.all %}{{ funktion | escape }}<br/>{% endfor %}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
