{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}

<div class="box">

  <h1  class="title">{{ form.title }}</h1>

  <div class="box">
    <!--<h2 class="subtitle">Nachrichtenkopf</h2>-->

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Richtung</label>
          <div>{{ object.get_richtung_display }}</div>
        </div>
      </div>
      {% if object.richtung == 'E' or object.richtung == 'R' %}
      <div class="column">
        <div class="field">
          <label class="label">Aufnahmevermerk</label>
          <div>{{ object.get_aufnahmeweg_display }} {{ object.aufnahmevermerk }}</div>
        </div>
      </div>
      {% endif %}
      {% if object.richtung == 'A' or object.richtung == 'R' %}
      <div class="column">
        <form action="{% url 'annahmevermerk' pk=object.id %}" method="post">{% csrf_token %}
          <div class="field">
            <label class="label">Annahmevermerk</label>
            {% if object.annahmevermerk %}
            <div>{{ object.annahmevermerk }}</div>
            {% else %}
            {% if not object.befoerderungsvermerk %}
            <button type="submit" class="button">Annahme vermerken</button>
            {% endif %}
            {% endif %}
          </div>
        </form>
      </div>
      <div class="column">
        <form action="{% url 'befoerderungsvermerk' pk=object.id %}" method="post">{% csrf_token %}
          <div class="field">
            {% if object.befoerderungsvermerk %}
            <label class="label">Beförderungsvermerk</label>
            <div>{{ object.get_befoerderungsweg_display }} {{ object.befoerderungsvermerk }}</div>
            {% else %}
            {{ befoerderungsvermerk.weg | bulma }}
            <button type="submit" class="button">Beförderung vermerken</button>
            {% endif %}
          </div>
        </form>
      </div>
      {% endif %}
      <div class="column">
        <div class="field">
          <label class="label">Nachweisung</label>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Vorrangstufe</label>
          <div>{{ object.get_vorrangstufe_display }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <!--<h2 class="subtitle"></h2>-->

    <div class="field">
      <label class="label">Absender</label>
      <div>{{ object.absender | escape }}</div>
    </div>
    <div class="field">
      <label class="label">Anschrift</label>
      <div>{{ object.anschrift | escape }}</div>
    </div>
    <div class="field">
      <label class="label">Betreff / Spruchkopf</label>
      <div>{{ object.betreff | escape }}</div>
    </div>
    <div class="field">
      <label class="label">Inhalt</label>
      <div>{{ object.inhalt | escape }}</div>
    </div>
  </div>
  <div class="box">
    <h2 class="subtitle">Sichter</h2>
    <div class="columns">
      <div class="column">
        <form action="{% url 'sichtungsvermerk' pk=object.id %}" method="post">{% csrf_token %}
          <div class="field">
            <label class="label">Sichtungsvermerk</label>
            {% if object.sichtungsvermerk %}
            <div>{{ object.sichtungsvermerk }}</div>
            {% else %}
            <button type="submit" class="button">Sichtung vermerken</button>
            {% endif %}
          </div>
        </form>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Verteiler</label>
          {% for funktion in verteiler %}
          <div>{{ funktion }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Verteilungsvermerke</label>
          {% for verteilungsvermerk in object.verteilungsvermerke.all %}
          <div>{{ verteilungsvermerk }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="column">
        <form action="{% url 'verteilungsvermerk' pk=object.id %}" method="post">{% csrf_token %}
          <div class="field">
            {{ verteilungsvermerk | bulma }}
            <button type="submit" class="button">Verteilung vermerken</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
